<h1>New Goal</h1>

<form action="<%= user_goals_url  %>" method="post">
  <input type="hidden" name="goal[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">

  <label>
    Title
    <input type="text" name="goal[title]">
  </label>

  <br>

  <label>
    Body
    <textarea name="goal[body]" rows="8" cols="80"></textarea>
  </label>

  <br>

  <input type="submit" value="Set New Goal">

</form>
